nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
}

nav h2 {
  color: white;
}

nav div {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  color: #61dafb;
  font-weight: bold;
}